html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*----------*/
.swiper {
    width: auto;
}

/* .slide-img img {
    max-width: 100%;
} */
/*----------*/
.Scroller-Wrap {
    min-width: 100%;
    display: block;
    /* vertical-align: top; */
    margin-top: -20px;
    margin-bottom: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Scroller-ItemWrap {
    /* display: flex; */
    border: 2px solid red;
}

.ProductCard-Wrapper {
    width: 124px;
    position: relative;
    flex-direction: column;
    text-decoration: none;
    /* padding: 0 15px; */
}

.ProductCard-Img {
    height: 84px;
    position: relative;
    width: 100%;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    text-decoration: none;
}

.a {
    width: 100%;
}