body {
    background-color: #202020;
}

body h2.swiper-h2 {
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.swiper-slide {
    display: grid;
    align-content: center;
}

.swiper-slide img{
    max-height: 250px;
}

.swiper-container {
    width: 350px;
    height: 300px;
}

.swiper-wrapper {
    text-align: center;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: orangered;
    opacity: 1;
}

.swiper-pagination-bullet {
    background-color: white;
    opacity: .5;
}

.swiper-button-prev,
.swiper-button-next {
    color: orangered;
}

.swiper-h2 {
    text-align: center;
    color: white;
}

.swipers-first {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.swipers-first-div {
    display: inline-block;
}

.swiper-pagination-progressbar {
    background-color: rgba(255, 68, 0, 0.15);
}

:root {
    --swiper-theme-color: orangered;
}

.pswp__caption__center {
    text-align: center;
    font-size: 20px;
}


/*--------------------------------------*/

.photoswipe__example {
    color: white;
    text-align: center;
    margin: 0px auto;
}

.photoswipe__example .my-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photoswipe__example .my-gallery img {
    width: 100%;
    height: auto;
}

.photoswipe__example .my-gallery figure {
    margin: 0 20px 0;
    width: 300px;
}

.photoswipe__example .my-gallery figcaption {
    display: none;
}


/*--------------------------------------*/

.photoswipe__swiper {
    color: white;
    text-align: center;
    margin: 0px auto;
}

.photoswipe__swiper .my-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photoswipe__swiper .my-gallery img {
    width: 100%;
    height: auto;
}

.photoswipe__swiper .my-gallery figure {
    display: grid;
    align-content: center;
}



/*--------------------------------------*/

.product__box .my-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product__box .my-gallery img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

.product__box .my-gallery figure {
    display: block;
    width: 100%;
}


/*--------------------------------------*/

.product__box {
    width: 200px;
    margin: 0px auto;
    background-color: white;
    border: 4px solid orangered;
}

.product__box .product__info,
.product__box .product__price {
    font-size: 24px;
    margin: 10px 0 10px ;
    word-wrap: break-word;
}

.product__price {
    font-size: 20px;
    font-weight: 800;
}

.product__price:after{
    content:"\20BD";
}

.products__cards .swiper-container {
    width: 90%;
    padding-bottom: 50px;
}

.swiper-pagination5 {
    padding-top: 100px;
}

.swiper-button-next::after{
    padding-left: 25px;
}
.swiper-button-prev::after {
    padding-right: 25px;
}

.cool__plugins{
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}
  
.cool__plugins a{
    text-decoration: none;
    color: orangered;
}
  
.cool__plugins li a{
    text-decoration: none;
    color: darkred;
}